@use "variables" as v;
@use "mixins" as m;

.cheackout-modal {
    display: block;
    padding: 18px;
    @media (min-width:1115px) {
      display: none;
    }
  &_tittle {
    font-size: 1.2em;
    margin-bottom: 12px;
  }
  &_button {
    @include m.button-checkout(32px, 100%, 0.9em);
  }
}
