@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$Blue: rgb(40, 125, 236);
$Pale-orange: hsl(25,100%,94%);
$Grey-blue: rgb(97, 97, 97);
$Black: rgba(0, 0, 0, 0.5);
$Font: 'Montserrat', sans-serif;