@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 0 24px;
}
@media (min-width: 1115px) {
  .header {
    height: 112px;
    border-bottom: 1px solid rgb(97, 97, 97);
  }
}
.header_navegation {
  width: 175px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1115px) {
  .header_navegation {
    width: 590px;
  }
}
.header_menu:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .header_menu {
    display: none;
  }
}
.header_cart-avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
}
@media (min-width: 1115px) {
  .header_cart-avatar {
    width: 125px;
  }
}
.header_cart {
  position: relative;
}
.header_cart--notification {
  display: none;
  background-color: orange;
  width: 15px;
  height: 12px;
  border-radius: 16px;
  position: absolute;
  top: -2px;
  right: -5px;
  font-size: 0.6em;
  text-align: center;
  color: white;
}
.header_cart:hover {
  cursor: pointer;
}
.header_avatar {
  width: 24px;
}
@media (min-width: 1115px) {
  .header_avatar {
    width: 48px;
  }
}
.header_avatar:hover {
  cursor: pointer;
  border: 2px solid orange;
  border-radius: 50%;
}

.navbar {
  display: none;
  width: 500px;
}
.navbar_items {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navbar_link {
  text-decoration: none;
  color: rgb(32, 32, 109);
  display: block;
  height: 112px;
  padding-top: 42px;
}
.navbar_link:hover {
  border-bottom: 4px solid orange;
}
@media (min-width: 1115px) {
  .navbar {
    display: block;
  }
}

.modal-navbar {
  display: none;
  background-color: white;
  width: 250px;
  height: 100%;
  padding: 28px 24px;
}
.modal-navbar_background {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal-navbar_items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  list-style: none;
  margin-top: 50px;
}
.modal-navbar_link {
  text-decoration: none;
  color: rgb(0, 12, 66);
  font-weight: 700;
  font-size: 1.1em;
}
.modal-navbar_close.icon:hover {
  cursor: pointer;
}

.gallery_image-container {
  border: 1px solid blueviolet;
  height: 300px;
  width: 100px;
  background-image: url("../img/");
  background-position-y: -35px;
  background-size: cover;
}
.gallery_previus {
  background-color: white;
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 170px;
  left: 15px;
}
.gallery_previus:hover {
  cursor: pointer;
}
.gallery_next {
  background-color: white;
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 170px;
  left: 320px;
}
.gallery_next:hover {
  cursor: pointer;
}
.gallery_thumnail {
  display: none;
}
@media (min-width: 1115px) {
  .gallery_thumnail {
    display: block;
  }
}

.details {
  border: 1px solid blue;
  padding: 24px;
}
.details_company {
  color: orange;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-bottom: 12px;
}
.details_tittle {
  font-size: 1.7em;
  margin-bottom: 16px;
}
.details_description {
  font-size: 0.94em;
  color: rgb(0, 0, 77);
  line-height: 24px;
  margin-bottom: 24px;
}
.details_prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
}
.details_now {
  font-size: 1.8em;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 18px;
}
.details_discount {
  font-size: 0.5em;
  background-color: hsl(25deg, 100%, 94%);
  color: orange;
  padding: 4px;
  border-radius: 4px;
}
.details_before {
  font-weight: 700;
  color: hsl(219deg, 9%, 45%);
  text-decoration: line-through;
}

.input {
  border: 1px solid greenyellow;
  height: 57px;
  display: flex;
  align-items: center;
}
.input_minus {
  width: 25px;
  padding: 24px 5px;
}
.input_minus:hover {
  cursor: pointer;
}
.input_number {
  width: 100%;
  border: none;
  background-color: rgb(228, 238, 252);
  font-size: 1.2em;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  outline: none;
}
.input_plus {
  width: 25px;
  padding: 19px 3px;
}
.input_plus:hover {
  cursor: pointer;
}

.main-container {
  width: 375px;
  border: 1px solid black;
  margin: auto;
  position: relative;
}
@media (min-width: 1115px) {
  .main-container {
    width: 1115px;
  }
}

/*# sourceMappingURL=style.css.map */
